

.feed 
{
    //background-image: linear-gradient(rgba(160, 3, 3, 0.4),rgba(160, 3, 3, 0.3)),url('../assets/li.jpg');
    
    //background-position:center;
    //background-size:cover;
    color : white; 
    //background-color:#ff6f00;
    background-color: rgba(0,0,0,0);
    padding-block-end: 30px;
    margin-bottom: 2px;
    
}

.feed ion-avatar
{
     background-image: url('../assets/ff.jpg');
     background-size:cover;
     height: 60px;
     width: 40px;
     text-align: center;
     padding-top: 17px; 
     font-size:18px;
     color: white;
}
.del
{
 
 color:white;

}
.del:hover
{
  color: greenyellow;
}

.feed p
{
  color: coral;
  font-weight: 600;
  font-size: 15px;

}

.feed h2
{
  font-weight: 1000;
  font-size: 20px;
  
}

.feed h3
{
  font-weight: 500;
  color:yellowgreen;
  font-size: 13px;
}

.feed h4
{
  vertical-align: middle;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
}

#text
{
    text-overflow: ellipsis;
}
