page-login {
	 .splash-bg {
    position: relative;
    background: url('../assets/log1.jpg') no-repeat transparent;
    background-size: cover;
    height: 100%;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
  }

  @keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }

#bu
{
	background-color: rgba(93, 5, 5   , 0.8);
}	

.sc {
		align-content: center;
        //display: flex;
		//flex-direction: column;
		justify-content: center;
		margin-top: 32%;
		text-align: center;
		position: fixed;
	}

	ion-card.card {
		box-shadow: none;
		background: rgba(0, 0, 0, 0.6);
		border-radius: 5px;
		justify-content: center;
	}
	.sc ion-card-header
	{
		font-weight: bold;
		font-size:23px;
	}

	a, p,
	ion-card-header.card-header {
		color: #fff!important;
	}

	.list > .item-block:first-child {
		border: medium none;
	}

	.item {
		margin-bottom: 8px;
		background: rgba(255, 255, 255, 0.6);
		border: medium none;

		.text-input, {
			color: #fff;
		}

		input::-moz-placeholder  {
			color: #fff!important;
		}

		input:-moz-placeholder {
			color: #fff!important;
		}

		*::-webkit-input-placeholder  {
			color: #fff!important;
		}

		*:-ms-input-placeholder  {
			color: #fff!important;
		}

		*:-moz-placeholder  {
			color: #fff!important;
		}
	}

	.bottom {
		position: absolute;
		bottom: 0;
	}
	.reg
	{
		color: coral;
	}
	.er
	{
		color: orange;
		margin-top: 8px;
		font-family:Arial, Helvetica, sans-serif;
		//padding: 2px;
		//font-size: 6px;
	}
	.user1,.user
	{
	 background-color: rgba(141, 151, 161, .3);
	// border-bottom: 1px solid coral;
	// background-color: rgba(0, 0, 0, 0);
	 color: white;

	
	}
	.user ion-label
	{ 
		font-weight: bold;
		color:orange;
		//font-size: 15px;
		
	}
	.user ion-label:active
	{
		color:orange;
		

	}
	

.custom-login-label input[type]{
    margin-left: 20px;
}
.custom-login-label i {
    position: absolute;
    bottom: 12px;
}	
	
}


