<ion-content class="background">
	<ion-card>
		<ion-card-header>
			Register Form
		</ion-card-header>
		<ion-card-content>
			<ion-list no-line>
				<ion-item>
					<ion-input  [(ngModel)]="userinfo.username" name="username" type="text" placeholder="Username" required></ion-input>
				</ion-item>

				<ion-item>
					<ion-input  [(ngModel)]="userinfo.realname" name="realname" type="text" placeholder="Name" required></ion-input>
				</ion-item>
				
                <ion-item>
					<ion-label color="light">Birthday</ion-label>
					<ion-input [(ngModel)]="userinfo.age" name="age" type="date" required></ion-input>
				</ion-item>

				<ion-item>
                  <ion-label color="light">Gender</ion-label>
                    <ion-select [(ngModel)]="userinfo.gender" required>
                       <ion-option *ngFor="let g of gender" value="{{g.name}}">{{g.name}}</ion-option>
                    </ion-select>
				</ion-item>

                <ion-item>
                 <ion-label color="light">Enter bloodgroup</ion-label>
                    <ion-select [(ngModel)]="userinfo.bloodgroup"required>
                        <ion-option *ngFor="let b of blood" value="{{b.name}}">{{b.name}}</ion-option>
                    </ion-select>
				</ion-item>


				 <ion-item>
                  <ion-label color="light">Enter location</ion-label>
                     <ion-select [(ngModel)]="userinfo.location" type="text" required>
                       <ion-option *ngFor="let l of location" value="{{l.name}}">{{l.name}}</ion-option>
                    </ion-select>
				</ion-item>

				<ion-item>
					<ion-input numbers-only  [(ngModel)]="userinfo.phone" name="phone" type="text" placeholder="Phone no." required="true"></ion-input>
				</ion-item>
 
                <ion-item>
					<ion-input  [(ngModel)]="userinfo.email" name="email" type="email" placeholder="Email"  required></ion-input>
				</ion-item>

                <ion-item>
					<ion-input [(ngModel)]="userinfo.password" name="password" type="password" placeholder="Password" required="true"></ion-input>
				</ion-item>
                
				<ion-item>
					<ion-label>Want To Donate Blood?</ion-label>
					<ion-checkbox item-end (click)="clicked()"></ion-checkbox>	
				</ion-item>
				<ion-item  *ngIf="donate" >
					<ion-label>LastDateOfDonation</ion-label>
					<ion-input  [(ngModel)]="userinfo.lastdate" name="LastDateOfDonation" type="date"></ion-input>
				</ion-item>

				<button class="regs" ion-button block outline  (click)="register()">Register</button>
				<div id="err"></div>	
			</ion-list>
		</ion-card-content>
	<button ion-button clear full color="light" (click)="login()" class="bottom">Already have an account? Sign in</button>
	</ion-card>
</ion-content>



