page-contact {

}

.Dlist 
{
    background-image: url('../assets/li.jpg');
  
  // background-color: rgba(160, 3, 3, 0.0);
   color :white; 
   
}
.Dlist ion-avatar
{
     background-image: url('../assets/list.png');
     height: 55px;
     width: 40px;
     text-align: center;
     //padding: 9px;
     padding-top: 17px; 
     font-size:18px;
}
.cIcon
{
 
 color:white;

}
.cIcon:hover
{
  color: greenyellow;
}
