.cont
{
    

}

.hd ion-avatar
{
     color : white; 
    //background-color:#ff6f00;
    background-color: rgba(0,0,0,0);
    padding-block-end: 30px;
    margin-bottom: 2px;
    
}

.hd h1
{
    height: 60px;
     width: 40px;
     font: bold;

}